﻿<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" href="~/css/site.min.css"/>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewBag.Title</title>
</head>
<body>
<div>
	<div class="container">
		<div class="columns">
			<div class="column col-6 col-xl-6 col-lg-8 col-md-9 col-sm-12 col-mx-auto">
				@RenderBody()
			</div>
		</div>
	</div>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-40595573-2"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());
	gtag('config', 'UA-40595573-2');
</script>
</body>
</html>