﻿@using System.Linq
@using Task.Web.Models
@model ReportDetails

<div class="card shadow">
	<div class="card-header h5"> @Model.Header </div>
	
	<div class="card-image hide-md">
		<img src="~/img/@Model.Img" class="img-responsive" alt="phone"/>
	</div>
	
	<div class="card-body">
		
		<div class="list-separator"> @Model.TotalsHeader </div>
		<div class="text-center h3">
			<span class="text-success">
				@Model.Total.ToString("0,0")
			</span>
		</div>
		
		@if (Model.Top.Any())
		{
			<div class="list-separator"> @Model.TopsHeader </div>
			<table class="table table-striped">
				@foreach (var item in Model.Top.OrderByDescending(t => t.Count))
				{
					<tr>
						<td> @item.Phone </td>
						<td class="text-right"> @item.Count.ToString("0,0") </td>
					</tr>
				}
			</table>
		}
	</div>
</div>