﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Task.Web.Models
@model ReportFilter

@{
	ViewBag.Title = "Report";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="ByDate" method="GET">
	<div class="columns">
		<div class="column col-lg-6 col-md-12">
			<div class="input-group">
				<span class="input-group-addon filter-label">From</span>
				<input type="date" class="form-input" asp-for="From"/>
			</div>
		</div>
		<div class="column col-lg-6 col-md-12">
			<div class="input-group">
				<span class="input-group-addon filter-label">To</span>
				<input class="form-input" type="date" asp-for="To"/>
				<button class="btn btn-primary input-group-btn" type="submit">
					<i class="icon icon-search"></i>
				</button>
			</div>
		</div>
	</div>
</form>

<div class="divider"></div>

<div class="columns">
	@RenderBody()
</div>
