﻿@using Task.Web.Models
@model Report

@{
	ViewBag.Title = "Report";
	Layout = "_Layout";
}

<div class="column col-6 col-md-12">
	@await Html.PartialAsync("_Details", Model.CallDetails)
</div>

<div class="column col-6 col-md-12">
	@await Html.PartialAsync("_Details", Model.SmsDetails)
</div>