﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Task.Web.Models
@model ReportFilter

@{
	Layout = "_Layout";
}

<div class="column col-12">
	<div class="empty shadow">
		<div class="empty-icon">
			<i class="icon icon-upload icon-4x"></i>
		</div>
		<p class="empty-title h5">No data for selected period</p>
		<p class="empty-subtitle">Click button to generate 1000 random records for this period.</p>
		<div class="empty-action">
			<form method="post" asp-action="Generate">
				<input type="hidden" asp-for="From"/>
				<input type="hidden" asp-for="To"/>
				<button type="submit" class="btn btn-primary">Generate</button>
			</form>
		</div>
	</div>
</div>