﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Task.Web.Models
@model ReportFilter

@{
	Layout = "_Layout";
}

<div class="column col-12">
	<div class="empty shadow">
		<div class="empty-icon">
			<i class="icon icon-stop icon-4x"></i>
		</div>
		<p class="empty-title h5">"From" later than "To"</p>
		<p class="empty-subtitle">You probably want to correct that.</p>
		<div class="empty-action">
		</div>
	</div>
</div>