body{
  background: rgba(0,0,0,0.1);
  padding: 1.2em 0;
}

.list-separator {
  margin: 1.3em 0 1em 0;
  font-size: 1.2em;
  border-bottom: 1px solid rgba(200,200,200,0.4);
}

.filter-label{
  min-width: 65px;
}

.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img{
  margin: 0 auto;
}